{% extends "layout.html" %}
{% block content %}
<div class="text-right">
    <p>Your Current Budget: ${{ budget }}</p>
</div>
<div class="content-section">
    <h1>{{ restaurant.username }} - Dishes</h1>
    <div class="row">
        {% for dish in dishes %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4"> <!-- Adjust the column sizes as needed -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ dish.name }}</h5>
                        <p class="card-text">Description: {{ dish.description }}</p>
                        <p class="card-text">Cost: {{ dish.cost }}</p>
                        <div class="text-right"> <!-- Aligns button to the right -->
                            <button class="btn btn-primary order-dish" data-id="{{ dish.id }}" data-toggle="modal" data-target="#orderModal{{ dish.id }}">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="content-section">
    <h1>Cart</h1>
    <div class="row" id="cart-items">
        {% for order_dish in order_dishes %}
            <div class="col-md-4">
                <div class="card m-2" id="card_{{ order_dish.id }}">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ order_dish.dish.name }}</h5>
                        <p class="card-text">Quantity: {{ order_dish.quantity }}</p>
                        <form method="POST" action="{{ url_for('remove_item_from_cart', rest_id=restaurant.id, item_id=order_dish.id) }}">
                            <button type="submit" class="btn btn-danger remove-item">Remove</button>

{#                            <button type="cancel" class="btn btn-danger remove-item" id="remove_button_{{ order_dish.id }}" onclick="removeItem({{ order_dish.id }})" data-id="{{ order_dish.id }}">Remove</button>#}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <form method="POST" action="{{ url_for('order_all') }}">
        <div class="text-right m-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Order All</button>
            </div>
        </div>
    </form>
</div>
{% for dish in dishes %}
<div class="modal fade" id="orderModal{{ dish.id }}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel{{ dish.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel{{ dish.id }}">Order {{ dish.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Order form here -->
                <form method="POST" action="{{ url_for('restaurant_dishes', restaurant_id=restaurant.id) }}">
                    {{ order_dish_form.hidden_tag() }}
                    <input type="hidden" name="dish_id" value="{{ dish.id }}">
                    <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                    <div class="form-group">
                        <label for="quantity{{ dish.id }}">Quantity:</label>
                        <input type="number" id="quantity{{ dish.id }}" name="quantity" class="form-control" value="1" min="1">
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
