{% extends "layout.html" %}
{% block content %}
<h1>Restaurants</h1>
<div class="card-deck">
    {% for restaurant in restaurants %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.username }}</h5>
                <p class="card-text">{{ restaurant.food_type }}</p>
                <a href="{{ url_for('restaurant_dishes', restaurant_id=restaurant.id) }}" class="btn btn-primary">View Dishes</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
