{% extends "layout.html" %}
{% block content %}
<h1>Restaurants</h1>
<form id="search-form" action="{{ url_for('search_restaurants') }}" method="GET" class="form-inline pb-2">
    <div class="input-group mr-2">
        <input type="text" class="form-control" placeholder="Search by name" name="search_query" aria-label="Search by name" aria-describedby="button-addon2" onkeyup="updateSearchQuery()">
    </div>
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="food-type">Food Type</label>
        </div>
        <select class="custom-select" id="food-type" name="food_type" onchange="updateSearchQuery()">
            <option selected>All Types</option>
            <option value="italian">Italian</option>
            <option value="mexican">Mexican</option>
            <option value="chinese">Chinese</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="meat">Meat</option>
            <option value="coffee house">Coffee House</option>
            <option value="fast food">Fast Food</option>
            <option value="bar">Bar</option>
            <option value="sea food">Sea Food</option>
            <option value="bakery">Bakery</option>
            <option value="ice cream">Ice Cream</option>
            <option value="desserts">Desserts</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
</form>

<script>
function updateSearchQuery() {
    var form = document.getElementById('search-form');
    var searchQuery = form.querySelector('[name="search_query"]').value;
    var foodType = form.querySelector('[name="food_type"]').value;
    form.action = "{{ url_for('search_restaurants') }}?search_query=" + encodeURIComponent(searchQuery) + "&food_type=" + encodeURIComponent(foodType);
}
</script>

<div class="card-deck">
    {% for restaurant in restaurants %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.username }}</h5>
                <p class="card-text">{{ restaurant.food_type }}</p>
                <a href="{{ url_for('restaurant_dishes', restaurant_id=restaurant.id) }}" class="btn btn-primary">View Dishes</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
