{% extends "layout.html" %}
{% block content %}
    <div class="content-section">

    <h1>Dishes</h1>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.name }} </td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.cost }}</td>
                <td class="text-right">
                    <form action="{{ url_for('remove_dish', dish_id=dish.id) }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger remove-btn" data-id="{{ dish.id }}">Remove</button>
                    </form>
                    <button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editModal{{ dish.id }}">Update</button>
                                        <div class="modal fade" id="editModal{{ dish.id }}" tabindex="-1" role="dialog" aria-labelledby="editModal{{ dish.id }}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModal{{ dish.id }}Label">Edit Dish</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('update_dish', dish_id=dish.id) }}" method="POST">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" value="{{ dish.name }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" id="description" name="description">{{ dish.description }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="cost">Cost</label>
                                            <input type="text" class="form-control" id="cost" name="cost" value="{{ dish.cost }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f9f9f9; padding: 10px;">
            <form action="{{ url_for('add_dish') }}" method="POST">
                <td>
                    {{ form.name(class="form-control", placeholder="Name") }}
                    {% for error in form.name.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.description(class="form-control", placeholder="Description") }}
                    {% for error in form.description.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.cost(class="form-control", placeholder="Cost") }}
                    {% for error in form.cost.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
                <td class="text-right">
                    {{ form.submit(class="btn btn-success") }}
                </td>
            </form>
        </div>
    </tbody>
</table>

    </div>
{% endblock content %}